data
__pycache__
.ipynb_checkpoints/*
latent_diffusion/lightning_logs
latent_diffusion/.ipynb_checkpoints
latent_diffusion/__pycache__
latent_diffusion/generation_res
latent_diffusion/tmp_logs
latent_diffusion/model_ckpt
latent_diffusion/model_with_metadata
latent_diffusion/samples.*
binding_affinity/.ipynb_checkpoints
binding_affinity/generation_res
binding_affinity/default_conformer
binding_affinity/excape_experiments
binding_affinity/ligand
binding_affinity/logs
binding_affinity/pocket
binding_affinity/poses
binding_affinity/bindingdb_metadata
binding_affinity/protein